apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: akosha-role
  namespace: akosha
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - get
  - list
  - watch
